<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>memcheck</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
  <script type="text/javascript" src="javascript/jquery-1.4.1.min.js"></script>
  <script type="text/javascript" src="javascript/main.js"></script>
</head>
<body>
  <ul>
    <li>Current Mem Usage: <strong><%= megabytes(@meminfo.memused) %>MB</strong></li>
    <li>Highest Mem Usage: <strong><%= megabytes(@max_memused) %>MB</strong></li>
  </ul>
</body>
</html>
