body {
  margin: 0px;
  font-family: "Lucida Grande";
}

h1 {
  margin-left: 15px;
  font-size: 2em;
}

ul {
  border-top: 1px solid black;
  list-style: none;
/*  float: left;*/
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #efefef;
}

.clear {
  clear: both;
}

li {
  font-size: .8em;
}

li.timestamp {
  float: left;
  font-weight: bold;
}

li.memchange {
  float: left;
  padding-left: 10px;
}

li.procs {
  display: none;
  float: left;
}

pre.procs {
  border: 1px solid #666;
  overflow: scroll;
  background-color: #000;
  color: #fff;
  margin-left: 20px;
  padding: 10px;
  width: 800px;
  height: 300px;
}